/* Components */

.component {
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid #3f3f3f;
  color: #3f3f3f;
  background-color: #eee;
}

#city-data {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  margin-left: 40px;
  width: 80%;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #eee;
}

.component h2 {
  font-weight: bold;
}

.component div {
  font-weight: 400;
  margin-bottom: 15px;
}

.component, .btn-danger, .btn-save{
  margin-right: 5px;
}

.btn-save {
  width: 90px;
}

/* Phones */
@media only screen
and (min-device-width : 320px) {
  .component {
    padding-bottom: 8%;
    text-align: center;
  }
  .btn-danger {
    width: 49%;
  }
  .component .btn-save {
    width: 49%;
  }
}


/* Ipads */
@media only screen
and (min-width : 768px) {
}

/* Desktops */
@media only screen
and (min-width : 1270px) {
}

/* Large screens */
@media only screen
and (min-width : 1824px) {
  #city-data {
    margin-left: 70px;
  }
}
