html, body {
  height: 100%;
  letter-spacing: .5px;
  font-family: 'Open Sans', 'Helvetica Neue';
  background-color: #eee;
}

#logo {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* Landing View */

#cover {
  background: url('../images/sky.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
}

.landing {
  text-align: center;
  font-weight: bold;
}

.landing h1 {
  display: inline-block;
  color: #3f3f3f;
  font-weight: bold;
  font-size: 400%;
}

.landing p {
  color: white;
}

#saved-cities-button {
  position: absolute;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  visibility: hidden;
}

#back-button {
  margin-top: 25px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  visibility: hidden;
}

/* Phones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .landing {
    padding-top: 40%;
    height: 50%;
  }
  .form {
    margin-left: 12%;
  }
  .form input {
    margin-bottom: 2%;
    border: 1px solid #ddd;
  }
  .form button {
    width: 100%;
    border: 1px solid #ddd;
  }
}

/* Ipads */
@media only screen
and (min-width : 768px) {
  .landing {
    padding-top: 25%;
  }
  .form {
    margin-left: 22%;
  }
  .form input {
    border: 1px solid #6f6f6f;
  }
}

/* Desktops */
@media only screen
and (min-width : 1270px) {
  .landing {
    padding-top: 20%;
  }
  .form {
    margin-left: 33%;
  }
  .form input {
    border: 1px solid #6f6f6f;
  }
}

/* Large screens */
@media only screen
and (min-width : 1824px) {
  .landing {
    padding-top: 15%;
  }
  .form {
    margin-left: 33%;
  }
  .form input {
    border: 1px solid #6f6f6f;
  }
}

/* END */
